/**
 * Some Customizations for the pad in ilias
 *
 * @author  Timon Amstutz <timon.amstutz@ilub.unibe.ch>
 *
 * **/

 function customStart()
{
    /** Get Params from URL **/
    var parameters = getUrlVars();

    /** Set language via cookie **/
    document.cookie = "language="+parameters["language"]+"; path=/";

    /** Get rid of error in view if language is german **/
    $("#mycolorpickersave").css({"padding":"2px","min-width":"70px"});
    $("#mycolorpickercancel").css({"padding":"2px","min-width":"70px"});
    /** Always hide Button for embedLinks (direct Link in Ilias should be used instaed) **/
    $("li[data-key='embed']").hide();
    /** Hide Settings Button (Settings are made in Ilias with tab settings) **/
    $("li[data-key='settings']").hide();
    /** Hide export doku wiki (comment this out if this is wanted) **/
    $("li[data-key='import_export']").hide();
    $("li[data-key='import_export']").children().removeClass("grouped-left");
    $("li[data-key='showTimeSlider']").children().removeClass("grouped-middle").addClass("grouped-left");
    $("li[data-key='import_export']").after("<li class='separator'></li><li class='separator'></li>");

    if(parameters["showStyleBlock"] != "true")
    {
        $("li[data-key='bold']").hide();
        $("li[data-key='italic']").hide();
        $("li[data-key='underline']").hide();
        $("li[data-key='strikethrough']").hide();
    }
    if(parameters["showListBlock"] != "true")
    {
        $("li[data-key='insertorderedlist']").hide();
        $("li[data-key='insertunorderedlist']").hide();
        $("li[data-key='indent']").hide();
        $("li[data-key='outdent']").hide();
    }
    if(parameters["showRedoBlock"] != "true")
    {
        $("li[data-key='undo']").hide();
        $("li[data-key='redo']").hide();
    }
    if(parameters["showColorBlock"] != "true")
    {
        $("li[data-key='clearauthorship']").hide();
    }
    if(parameters["showHeadingBlock"] != "true")
    {
        $("li[data-key='heading-selection']").hide();
    }
    if(parameters["showImportExportBlock"] != "true")
    {
        $("li[data-key='import_export']").hide();
    } else {
        $("li[data-key='import_export']").show();
    }
    if(parameters["showTimelineBlock"] != "true")
    {
        $("li[data-key='showTimeSlider']").hide();
        $("li[data-key='revisionlink']").hide();
    } else {
        $("li[data-key='showTimeSlider']").show();
    }
}

function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
